{include file="common/meta"}
<title>用户管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form action="{:url('index')}" method="get">
		<div class="text-c">
			<input type="text" class="input-text" style="width:250px" placeholder="输入姓名,手机号" id="" name="keywords">
			<button type="submit" class="btn btn-success"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
		</div>
	</form>
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		 <span class="r">共有数据：<strong>{$list|count}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="20">列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="100">头像</th>
				<th width="150">昵称</th>
				<th width="100">openid</th>
				<th width="150">消费金额</th>
				<th width="50">消费次数</th>
				<th width="150">加入时间</th>
			</tr>
		</thead>
		<tbody>
		{volist name="list" id="v"}
			<tr class="text-c">
				<td><input type="checkbox" value="{$v.id}" name="ids"></td>
				<td>{$i}</td>
				<td><img src="{$v.img_url}" style="height: 50px;border-radius: 50%"></td>
				<td>{$v.nick_name}</td>
				<td>{$v.openid}</td>
				<td>{$v.user.consume_amount}</td>
				<td>{$v.user.consume_count}</td>
				<td>{$v.create_time}</td>
			</tr>
		{/volist}
		</tbody>
	</table>
	{$list->render()}
</div>
<!--_footer 作为公共模版分离出去-->
{include file="common/footer"}
<!--/_footer 作为公共模版分离出去-->
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    function start(obj,id,url){
        layer.confirm('确认要激活吗？',function(index){
            $.post(url,{id:id},function (res) {
                if (res.code === 10000){
                    $(obj).parents("tr").find(".td-manage").html('');
                    $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">会员</span>');
                    $(obj).remove();
                    layer.msg('已激活!',{icon: 6,time:1000});
                }else {
                    layer.msg(res.message,{icon: 2,time:1000});
                }
            })
        });
    }
</script>
</body>
</html>